<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Travel App</title>
</head>
<body>
<div class="container">

    <section class="city">
            <label>Where you gonna Travel</label>
            <input id="city" type="text" value="" name="city" placeholder="city">
            <label>Enter City Name</label>
            <input id="date" type="date" value="" placeholder="date" name="date">
            <button class="continue">Continue</button>
    </section>
    <section class="result">
        <div>
            <h1>Country</h1>
            <h2 id="country"></h2>
            <h1>City</h1>
            <h2 id="place"></h2>
            <h1>MinTemp</h1>
            <h2 id="mintemp"></h2>
            <h1>MaxTemp</h1>
            <h2 id="maxtemp"></h2>
            <h1>Description</h1>
            <h2 id="description"></h2>
            <h1>Date</h1>
            <h2 id="datee"></h2>
            <div class="img"></div>
        </div>
    </section>
</div>

<script src="../js/requests.js"></script>
</body>

</html>